<html>
<body>
<h1>Users</h1>
{% if users %}
<ul>
  {% for user in users %}
    <li>{% if user.has_photo %}<img src='/media/photos/{{ user.sunetid }}.jpg' width='10px' height='10px'/>{% endif %}{{ user.name }} ({{ user.sunetid }}) {{ user.kills }}<form name='update_user' action='/admin/update_user'  enctype="multipart/form-data" method='post'>
          <input type='hidden' name='sunetid' value='{{ user.sunetid }}' />
          Has Image:<input type='checkbox' name='photo' {% if user.has_photo %}checked{% endif %} value='true' />
          <input type='submit' name='update' value='Delete' />
          <input type='submit' name='update' value='Update' />
        </form>
    </li>
  {% endfor %}
</ul>
{% else %}
No Users found.
{% endif %}
<h1>Contracts</h1>
{% if contracts %}
<ul>
  {% for contract in contracts %}
    <li>{{ contract.assassin.name }}->{{ contract.target.name }}: {{ contract.status_string }} {% if contract.status == 1 or contract.status == 4 %}<form name="finish_contract" action='/confirm_death' method='post'><input type='hidden' name='sunetid' value='{{ contract.target.sunetid }}' /><input type='submit' name='submit' value='Confirm Assassination' /></form>{% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
No Contracts found.
{% endif %}
<h1>Initialize Contracts</h1>
<form name='init_contracts' action='/admin/init_contracts' method='post'>
  Partial Ordering (Optional): <input type='textarea' rows='20' cols='10' name='start_list' />
  <input type='submit' value='Initialize Contracts'/>
</form>
<h1>Scramble Contracts</h1>
<form name='scramble_remaining' action='/admin/scramble_remaining' method='post'>
  Partial Ordering (Optional): <input type='textarea' rows='20' cols='10' name='start_list' />
  <input type='submit' value='Scramble Remaining'/>
</form>

<h1>Email Alive Participants</h1>
<form name='email' action='/admin/email' method='post'>
  Subject: <input type='textarea' cols='20' rows='1' name='subject' />
  Message: <input type='textarea' cols='80' rows='10' name='message' />
  <input type='submit' value='Send'/>
</form>

</body>
</html>