<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<title>{{ dorm_name }} Assassins</title>
<body>
<div id="wrap">
<h1 id="header_home"><span class="sitename">{{ dorm_name }} Assassins</span></h1>
<div id="content">
<div class="post">
  <p>{{ message }}</p>
</div>
</div>
</div>
<div id="footer">
Logged in as: {{ user.sunetid }} <a href="/webauth/logout">Logout</a>
</div>
</body>
</html>